# Python
__pycache__/
*.py[cod]
*.so
.pytest_cache/
.venv/
.venv312/
venv/
.env
*.egg-info/
build/
dist/
*.spec
image_previews/

# Streamlit
.streamlit/

# SQLite
*.db
*.sqlite3

# IDE
.vscode/
.idea/
.DS_Store
